.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  margin-top: 20px;
  padding: 10px;
}

.App h1 {
  margin-bottom: 30px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40rem;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
}
.navBar{
  width: 30rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.unCompletedTodos{
margin-right:-90px ;
background-color:rgb(238, 231, 245) ;
border-radius: 50%;
display: inline-block;
display: flex;
justify-content: center;
align-items: center;
width: 30px;
height: 30px;
font-size: 18px;
font-weight: bold;
}
.selectInput{
  outline: none;
  width: 150px;
  margin-right: 5px;
padding: 10px ;
border-radius: 5px;
border: 1px solid blueviolet;
outline: none;

}
.selectInput:focus{
  border: 2px solid blueviolet;
  outline: none;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30rem;
  margin: 15px 0;
}
.textTodo{
  cursor: pointer;
  font-size: 18px;
}
.completed {
  text-decoration: line-through;
  color: #ccc;
}
input {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  outline: none;
  font-size: 18px;

}
input:focus {
  border: 2px solid blueviolet;
}

.btn {
  padding: 10px 15px;
  border-radius: 5px;
  outline: none;
  border: 1px solid blueviolet;
  margin: 5px;
  background-color: rgb(238, 231, 245);
  color: blueviolet;
  cursor: pointer;
}
.remove {
  border: 1px solid red;
  background-color: rgb(241, 224, 224);
  color: red;
}
.addTodo {
  border: 1px solid blueviolet;
  background-color: blueviolet;
  color: white;
}
.updateTodo {
  border: 1px solid blueviolet;
  background-color: rgb(238, 231, 245);
  color: blueviolet;
}
.formContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30rem;
  margin-bottom: 20px;
}
